@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962; 
}

.offset: before {
  display:block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--- Navigation ---*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, 0.6)!important;
  scroll-behavior: smooth;
}
.navbar-brand img {
  height: 2rem;
}
.navbar-nav li {
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #3ca4f9;
}

/*--- Landing Page --*/

.home-inner {
  background-image: url(img/road.jpg);
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*--- Air Section --*/

.airbackground {
  background: url(img/airplane.jpg) no-repeat center fixed;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100% auto; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.airlight {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 7rem 2rem;
}
.airbackground h3 {
  margin-bottom: 2rem;
}
.airbackground p {
  margin-top: 1.5rem;
}

/*--- Ocean Section --*/

.oceanbackground {
  background: url(img/ocean.jpg) no-repeat center fixed;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100% auto; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.oceanlight {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 7rem 2rem;
}
.oceanbackground h3 {
  margin-bottom: 2rem;
}
.oceanbackground p {
  margin-top: 1.5rem;
}

/*--- Trucking Section --*/

.truckbackground {
  background: url(img/truck.jpg) no-repeat center fixed;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100% auto; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.trucklight {
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  padding: 7rem 2rem;
}
.truckbackground h3 {
  margin-bottom: 2rem;
}
.truckbackground p {
  margin-top: 1.5rem;
}

/*--- Warehousing Section --*/

.warehousebackground {
  background: url(img/warehouse.jpg) no-repeat center fixed;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100% auto; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.warelight {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 7rem 2rem;
}
.warehousebackground h3 {
  margin-bottom: 2rem;
}
.warehousebackground p {
  margin-top: 1.5rem;
}

/*--- Documentation Section --*/

.documentbackground {
  background: url(img/document.jpg) no-repeat center fixed;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100% auto; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.doculight {
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 7rem 2rem;
}
.documentbackground h3 {
  margin-bottom: 2rem;
}
.documentbackground p {
  margin-top: 1.5rem;
}

/*--- Brokerage Section --*/

.brokerbackground {
  background: url(img/broker.jpg) no-repeat center fixed;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100% auto; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.brokelight {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  padding: 7rem 2rem;
}
.brokerbackground h3 {
  margin-bottom: 2rem;
}
.brokerbackground p {
  margin-top: 1.5rem;
}

/*--- Agents Section --*/

.agents img {
  width: 90%;
  border-radius: 30%;
}
.text {
  line-height: 100%;
  font-size: 14px;
  text-transform: uppercase;
  overflow: auto;

}
.agents-hr {
  border-top: .05rem solid #3ca4f9;
}

/*--- Contact Section --*/

footer {
  background-color: #40474e;
  color:white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: #5BE5FE;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid white;
  margin-top: 3rem;
}

/*--- About Section --*/

.aboutbackground {
  background: url(img/about.jpg) no-repeat center fixed;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100% auto; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  -webkit-transform: translate3d(0,0,0);
  background-attachment: scroll;
}
.aboutlight {
  background-color: rgba(0, 0, 0, 0.10);
  color: white;
  padding: 1rem 2rem;
}
.aboutbackground h3 {
  margin-bottom: 2rem;
}
.aboutbackground p {
  margin-top: 1.5rem;
}
.aboutfooter {
  background-color: #B6C7E0;
  color:white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
  font-size: 1.1rem;
}
.aboutfooter img {
  height: 3rem;
  margin: 1.5rem 0;
}
.aboutfooter a {
  color: white;
}


/*--- Color Section --*/

.jumbotron {
  margin-bottom: 0;
  padding: 5rem 0 3.5rem;
  border-radius: 0;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #FF2D2D;
  margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa {
  color: #3ca4f9;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}

/*--- Media Queries --*/

@media (max-width: 767px) {
.caption h1 {
  font-size: 2.3rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}
.caption h3 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem
}
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1rem;
}
.narrow h1 {
  font-size: 1.5rem;
}
.agents img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.text {
  text-align: center;
}
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
